.vs/PAMO_TapPay/FileContentIndex/54fa9a6e-65fc-4eb3-ae44-eefb4446b3a6.vsidx
.vs/PAMO_TapPay/FileContentIndex/7568683d-fdf7-4b43-8ed2-6aaf59cbc8d9.vsidx
.vs/PAMO_TapPay/FileContentIndex/836f86bd-4fbd-46c4-a334-2d326947b56a.vsidx
.vs/PAMO_TapPay/FileContentIndex/bc37475e-8f5b-471d-8f10-196b4d0cba45.vsidx
.vs/PAMO_TapPay/FileContentIndex/c6d18b43-1b06-4085-9ef2-22d1d2958b75.vsidx
.vs/PAMO_TapPay/v17/.futdcache.v2
.vs/PAMO_TapPay/v17/.suo
.vs/PAMO_TapPay/v17/HierarchyCache.v1.txt
.vs/PAMO_TapPay/FileContentIndex/1a098834-816f-4fa8-b0cc-ebd3b53ce5b0.vsidx
.vs/PAMO_TapPay/FileContentIndex/a2d00a6f-3fca-4d11-8d47-e254791d06ce.vsidx
.vs/PAMO_TapPay/FileContentIndex/b295dee5-151d-4e04-84e6-845f151c6bdb.vsidx
.vs/PAMO_TapPay/FileContentIndex/e61e64f3-ace8-4e1d-a73a-ac9c48046201.vsidx
.vs/ProjectEvaluation/pamo_tappay.metadata.v7.bin
.vs/ProjectEvaluation/pamo_tappay.projects.v7.bin
PAMO_TapPay/bin/Debug/net5.0/appsettings.Development.json
PAMO_TapPay/bin/Debug/net5.0/appsettings.json
PAMO_TapPay/bin/Debug/net5.0/ChilkatDnCore.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.CodeAnalysis.VisualBasic.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
PAMO_TapPay/bin/Debug/net5.0/Microsoft.VisualBasic.dll
PAMO_TapPay/bin/Debug/net5.0/Newtonsoft.Json.dll
PAMO_TapPay/bin/Debug/net5.0/NLog.config
PAMO_TapPay/bin/Debug/net5.0/NLog.dll
PAMO_TapPay/bin/Debug/net5.0/NLog.Extensions.Logging.dll
PAMO_TapPay/bin/Debug/net5.0/NLog.Web.AspNetCore.dll
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.deps.json
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.dll
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.exe
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.pdb
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.runtimeconfig.dev.json
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.runtimeconfig.json
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.Views.dll
PAMO_TapPay/bin/Debug/net5.0/PAMO_TapPay.Views.pdb
PAMO_TapPay/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
PAMO_TapPay/bin/Debug/net5.0/Twilio.dll
PAMO_TapPay/bin/Debug/net5.0/Pages/Index.cshtml
PAMO_TapPay/bin/Debug/net5.0/runtimes/debian-x64/native/libuv.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/fedora-x64/native/libuv.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/linux-arm/native/libchilkatDnCore-9_5_0.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/linux-arm64/native/libchilkatDnCore-9_5_0.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libchilkatDnCore-9_5_0.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/linux-x64/native/libchilkatDnCore-9_5_0.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/opensuse-x64/native/libuv.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/osx/native/libuv.dylib
PAMO_TapPay/bin/Debug/net5.0/runtimes/osx-x64/native/libchilkatDnCore-9_5_0.dylib
PAMO_TapPay/bin/Debug/net5.0/runtimes/rhel-x64/native/libuv.so
PAMO_TapPay/bin/Debug/net5.0/runtimes/win7-arm/native/libuv.dll
PAMO_TapPay/bin/Debug/net5.0/runtimes/win7-x64/native/libuv.dll
PAMO_TapPay/bin/Debug/net5.0/runtimes/win7-x86/native/libuv.dll
PAMO_TapPay/bin/Debug/net5.0/runtimes/win-x64/native/chilkatDnCore-9_5_0.dll
PAMO_TapPay/bin/Debug/net5.0/runtimes/win-x86/native/chilkatDnCore-9_5_0.dll
PAMO_TapPay/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PAMO_TapPay/obj/Debug/net5.0/apphost.exe
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.AssemblyInfo.cs
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.AssemblyInfoInputs.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.assets.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.csproj.AssemblyReference.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.csproj.BuildWithSkipAnalyzers
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.csproj.CopyComplete
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.csproj.CoreCompileInputs.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.csproj.FileListAbsolute.txt
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.dll
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.GeneratedMSBuildEditorConfig.editorconfig
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.genruntimeconfig.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.MvcApplicationPartsAssemblyInfo.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.pdb
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.RazorAssemblyInfo.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.RazorAssemblyInfo.cs
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.RazorCoreGenerate.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.RazorTargetAssemblyInfo.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.RazorTargetAssemblyInfo.cs
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.sourcelink.json
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.TagHelpers.input.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.TagHelpers.output.cache
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.Views.dll
PAMO_TapPay/obj/Debug/net5.0/PAMO_TapPay.Views.pdb
PAMO_TapPay/obj/Debug/net5.0/project.razor.vs.bin
PAMO_TapPay/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
PAMO_TapPay/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
PAMO_TapPay/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
PAMO_TapPay/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
PAMO_TapPay/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
PAMO_TapPay/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
PAMO_TapPay/obj/Debug/net5.0/ref/PAMO_TapPay.dll
PAMO_TapPay/obj/Debug/net5.0/refint/PAMO_TapPay.dll
PAMO_TapPay/obj/Debug/net5.0/staticwebassets/msbuild.build.PAMO_TapPay.props
PAMO_TapPay/obj/Debug/net5.0/staticwebassets/msbuild.buildMultiTargeting.PAMO_TapPay.props
PAMO_TapPay/obj/Debug/net5.0/staticwebassets/msbuild.buildTransitive.PAMO_TapPay.props
PAMO_TapPay/obj/Debug/net5.0/staticwebassets/msbuild.PAMO_TapPay.Microsoft.AspNetCore.StaticWebAssets.props
PAMO_TapPay/obj/Debug/net5.0/staticwebassets/PAMO_TapPay.StaticWebAssets.Manifest.cache
PAMO_TapPay/obj/Debug/net5.0/staticwebassets/PAMO_TapPay.StaticWebAssets.Pack.cache
.vs/PAMO_TapPay/FileContentIndex/4bcbd56b-fde8-4592-8ae3-826ba7b2ae2d.vsidx
.vs/PAMO_TapPay/FileContentIndex/cdcae161-b08f-4b6d-92f9-1cc121975a3e.vsidx
