:root {
    --main-red: #B91616;
    --gold: #DEA46B;
    --secondary-grey: rgb(122, 122, 122);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@900&family=Noto+Serif+TC:wght@400;700;900&display=swap');

h1, h2, h3 {
    font-family: 'Noto Serif TC Black', serif;
}

body, p {
    font-family: 'Noto Serif TC', serif;
}


img {
    max-width: 100%;  
}

.nav-bar {
    position: fixed;
    background-color: var(--main-red);
    color: white;
    z-index: 3;
    transition: 0.5s;
    opacity: 1;
}

.nav-bar.top {
    opacity: 0;
}


a.nav-item {
    color: var(--gold);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 2px 2px black;
}

#mobile-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: var(--main-red);
    transition: 0.5s;
    background-image: url(../assets/bg_s3_center.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
#mobile-menu.show {
    top: 0%;
}

.text-white {
    color: white;
}
.text-grey {
    color: var(--secondary-grey);
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: var(--main-red);
}

.section {
    padding: 50px 0;
}

.button {
    background-color: var(--gold);
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-family: 'Noto Serif TC Black', serif;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.312);
}

.button.disabled {
    opacity: 0.2;
    pointer-events: none;
}

.jumbo {
    font-size: 3em;
}

#s1 {
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(../assets/bg_s1.png);
    background-position: center;
    background-size: 100%;
}

#s1 .container {
    z-index: 2;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

#s2 {
    background-color: black;
}

#s7 {
    background-image: url(../assets/bg_comments.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.purchase-form {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.comment {
    background-color: white;
    padding: 30px;
    color: black;
    text-align: left;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.4);
    min-height: 112px;
}

.comment .name {
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    #s1 {
        min-height: 80vh;
        background-size: auto 100%;
    }
    #s7 {
        background-size: auto 100%;
    }
  }